* {
  margin: 0;
}

.container {
  display: flex;
  font-size: 1.3rem;
}

.content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cold {
  background-color: skyblue;
}

.freezing {
  background-color: rgb(0, 110, 255);
}
