.container {
  display: flex;
}

.content {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cold {
  background-color: skyblue;
}

.freezing {
  background-color: rgb(0, 110, 255);
}
